RATE_LIMIT_TABLE_NAME="dynamodb_table_name"
RATE_LIMIT_WINDOW_SECONDS="numeric_value"
RATE_LIMIT_MAX_REQUESTS="numeric_value"
RATE_LIMIT_TTL_SECONDS="numeric_value"
SENDER_EMAIL_ADDRESS="example1@domain1.com"
RECIPIENT_EMAIL_ADDRESS="example2@domain2.com"